/** Add css rules here for your application. */

.center {
	margin-top: 50px;
	text-align:center;
}

.distance {
	margin-top: 30px;
	color: white;
}

.points {
	font-weight: bold;
	font-size: 150px;
	color: white;
}

.userMessage{
	font-size: 15px;
	color: white;
	text-allign: center;
}

.newUser{
	font-weight: bold;
	font-size: x-large;
	color: white;
	text-allign: center;
    border-bottom-style: solid;
}

.login{
	font-weight: bold;
	font-size: 15px;
	color: white;
	text-allign: center;
	border-bottom-style: solid;
}

.welcome{
	font-weight: bold;
	font-size: 30px;
	color: white;
	margin: auto;
}

.button {
	margin-top: 20px;
	border: none;
	color: black;
	padding: 10px 32px;
	text-align: center;
	display: inline-block;
	font-size: 30px;
}
		
.spinner {
	width: 350px;
	position:absolute;
	text-align: center;
	top: 45%;
	left: 40%;
	
}

.spinner>div {
	width: 100px;
	height: 100px;
	background-color: #FFFFFF;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite cubic-bezier(0.4, 0.0, 0.2, 1) both;
	animation: sk-bouncedelay 1.4s infinite cubic-bezier(0.4, 0.0, 0.2, 1) both;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  	0%, 80%, 100% { 
    	-webkit-transform: scale(0);
    	transform: scale(0);
	}
	40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
		
.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}